.row {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  place-content: center;
}

.spot {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  background-color: #b58863;
}

.spot img {
  z-index: 10;
}

.light {
  background-color: #f0d9b5;
}

.selected {
  background-color: #819669;
}

.suggestion {
  position: absolute;
  background-color: #819669;
  width: 30%;
  height: 30%;
  border-radius: 100%;
}

.canBeCaptured {
  border-radius: 100%;
}


.previousMoveFrom {
  background-color: #ced26b;
}

.previousMoveTo {
  background-color: #aba23a;
}

.piece {
  width: 90%;
  height: 90%;
}

.canBeCapturedOuter {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #819669;
}

.canBeCapturedLightInner {
  position: absolute;
  width: 110%;
  height: 110%;
  border-radius: 100%;
  background-color: #f0d9b5;
}

.canBeCapturedDarkInner {
  position: absolute;
  width: 110%;
  height: 110%;
  border-radius: 100%;
  background-color: #b58863;
}

.spot:hover .suggestion {
  background-color: #85784e;
  width: 100%;
  height: 100%;
  border-radius: 0%;
}

.spot:hover .canBeCapturedLightInner {
  background-color: #85784e;
  border-radius: 0%;
}
.spot:hover .canBeCapturedDarkInner {
  background-color: #85784e;
  border-radius: 0%;
}
